.navbar-custom {
	background-color: white;
}

p, h1, h2, h3, h4, h5, h6 {
	color: black;
	font-style: Arial;
	font-size: 1em;
}

#contact {
	background: white;
	padding: 10%
}
.hangman {
	padding-top: 10%;
	position: relative;
	width: 100%;
}

.trivia {
	position: relative;
	width: 100%;
}



h4 span {
	color: black;
	font: arial;
	background: #a0ffe9;
	padding: 10px;
	
	position: relative;
	top: -69px;
	left: 5px;
}

@media only screen and (max-width: 600px)  {...}

@media only screen and (max-width: 640px) {
    /* For laptop: */

   header {width: 100%; margin-top: 0px;}
   aside {width: 75%; float: none !important; margin: 7%;}
   footer {width: 100%;}
   nav {width: 100%;}
  .navbar-brand {display: none;}
   #connect {width: 110%; margin-left: -50px;} 
}